.login {
  display: flex;
  display: flex;
  justify-content: center;
  width: 1000px;
  margin: 0 auto;
  margin-top: 45px;
}

.login .wrap {
  display: flex;
  width: 100%;
  height: 700px;
}

.login .left {
  width: 50%;
  background-color: #0071c2;
  height: 100%;
  border-top-left-radius: 20px 20px;
  border-bottom-left-radius: 20px 20px;
}

.login .imgLeft > img {
  width: 80%;
  position: relative;
  left: 40px;
  top: 270px;
}

.login .right {
  width: 50%;
  background-color: #fff;
  border-top-right-radius: 20px 20px;
  border-bottom-right-radius: 20px 20px;
}

.login .lContainer {
  display: flex;
  flex-direction: column;
  margin: 70px 80px 5px 80px;
  align-items: center;
}

.login .logoLogin {
  font-size: 50px;
  color: #7491d7;
  border: 5px solid #f7f7fa;
  padding: 17px;
  border-radius: 50%;
  background-color: #fafbff;
  margin-bottom: 20px;
}

.login .loginHeader {
  font-size: 40px;
  align-content: center;
  font-weight: 700;
  color: #424049;
}

.login .content {
  font-size: 12px;
  color: #ceccd2;
  text-align: center;
}

.login .reqInput {
  margin-top: 20px;
  width: 100%;
}

.login .lgInput {
  height: 20px;
  width: 100%;
  margin: 25px 0 0 0;
  border-radius: 10px;
  padding: 10px;
  border-radius: 7px;
  border: 1px solid #f1f0f4;
  border-width: 1px;
  background-color: #fafafd;
}

.login .lgInput:hover {
  outline: none !important;
  border-color: #c1ceed;
  box-shadow: 0 0 1px #c1ceed;
  transition: all 0.5s ease;
}

.login .lgInput:focus {
  outline: none !important;
  border-color: #7491d7;
  box-shadow: 0 0 2px #7491d7;
}

.login .lgInput:focus::placeholder {
  color: #7491d7;
}

.login .inputWrap {
  position: relative;
  display: flex;
}

.login .inputWrap > .lgSymbol {
  position: absolute;
  right: 10px;
  top: 38px;
  color: #d1d1d6;
  cursor: pointer;
}

.login .activelgSymbol {
  color: #7491d7;
  position: absolute;
  right: 10px;
  top: 38px;
  cursor: pointer;
}

.login .lgInput:focus > .lgSymbol {
  color: #7491d7;
}

.login .lButton {
  border: none;
  padding: 10px 20px;
  background-color: #345bbe;
  color: white;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
  width: 100%;
  margin-top: 30px;
}

.login .lButton:disabled {
  background-color: #0071c28c;
  cursor: not-allowed;
}

.login .linkToSignUp {
  display: flex;
  align-items: center;
  margin-top: 90px;
}

.login .signUp {
  font-weight: 800;
  color: #355bc0;
  font-size: 13px;
  cursor: pointer;
}

/* ==================== MEDIA QUERIES ( Ipad pro) ==================== */
@media screen and (max-width: 1024px) {
  .login {
    width: 100%;
    position: absolute;
    top: 300px;
  }
}

/* ==================== MEDIA QUERIES (SMALL DEVICE) (Phone rotate) ==================== */
@media screen and (max-height: 1195px) and (max-width: 877px) {
  .login {
    width: 100%;
  }
}
@media screen and (max-width: 877px) {
  .login {
    width: 100%;
    top: 150px;
  }
}

/* ==================== MEDIA QUERIES (Iphone 12prm) ==================== */
@media screen and (max-width: 430px) {
  .login {
    top: 0;
    margin: 0 auto;
  }

  .login .wrap {
    height: 100vh;
  }

  .login .left {
    display: none;
  }

  .login .right {
    width: 100%;
    border-radius: 0;
  }

  .login .lContainer {
    margin: 70px 60px 5px 60px;
  }

  .login .linkToSignUp {
    margin-top: 20px;
  }
}

@media screen and (max-height: 926px) {
  .login .lContainer {
    margin-top: 120px;
  }
}

/* ==================== MEDIA QUERIES (Iphone xsm) ==================== */
@media screen and (max-width: 414px) {
  .login {
    margin: 0 auto;
  }

  .login .lContainer {
    margin: 70px 30px 5px 30px;
  }

  .login .loginHeader {
    width: max-content;
  }

  .login {
    top: 0;
  }

  .login .loginHeader {
    font-size: 35px;
  }
}

@media screen and (max-height: 736px) {
  .login .lContainer {
    margin-top: 60px;
  }

  .login .reqInput {
    margin: 0;
  }
}

/* ==================== MEDIA QUERIES (Iphone) ==================== */
@media screen and (max-width: 376px) {
  .login .loginHeader {
    font-size: 32px;
  }
}
